.category{
    width: 100%;
    display: flex;
    margin-top: 50px;
    margin-bottom: 50px;
    justify-content: center;
}
.category .list-items{
    width: 90%;
    position: relative;
}
.category .list-items h2{
    font-size: 30px;
    font-weight: 600;
    margin: 0;
    font-family: sans-serif;
    margin-bottom: 50px;
    display: flex;
    justify-content: center;
}
.category .list-items .card-list{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows:repeat(2, 4fr);
    gap: 60px;
   

}
.category .card-list .card{
    width: 200px;
    height: auto;
    display: block;
    padding: 10px;
    position: relative;
    outline: 2px solid #faad96;
    box-shadow: 2px salmon;
    background: #fff;
    border-radius: 10px;
}
.category .card-list .card .butt .b1{

    position: relative;
    left: 50px;
    margin-top: 5px;
    font-size: 15px;
    background-color: #ff511c;
    border-radius: 10px;
    padding: 5px;
}
.category .card-list .card .butt .b1:hover{
    cursor: pointer;
    color: aquamarine;

}
.category .card-list .card .butt .b1:visited{
    background-color: blueviolet;
}


.category .card-list .card img{
    width: 100px;
    height: auto;
    bottom: 170px;
    left: 50px;
    margin-top: 500px;
    margin-bottom: 20px;
    object-fit: cover;
    object-position: center;
    background-repeat: no-repeat;
    position: absolute;
    box-shadow: 0 10px 10px #faad96 ;
    border-radius: 50%;
}
.category .card-list .card img:hover{
    cursor: pointer;
    transition: 2s;
    transform: rotate(360deg);
    transform: scale(2);

}
.category .card-list .card .food-title{
    padding: 40px 0 10px ;
}
.category .card-list .card .food-title h1{
    text-align: center;
    font-weight: bold;
    font-size: 20px;
    font-family: sans-serif;
}
.category .card-list .card .desc-food p{
    font-size: 13px;
    text-align: center;
    font-weight: 500;
    margin-bottom: 10px;
    font-family: sans-serif;
}
.category .card .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.category .card .price span{
    font-weight: 600;
    font-family: sans-serif;
    margin: 0 50px 0 50px;
}
@media(max-width:600px){
    .category .list-items .card-list{
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows:repeat(2, 4fr);
        gap: 60px;
       
    
    }
    .category{
        width: 100%;
        display: flex;
        justify-content: center;
    }
    .category .card-list .card{
        width: 180px;
        height: auto;
        display: block;
        padding: 5px;
        position: relative;
        outline: 2px solid #faad96;
        box-shadow: 2px salmon;
        background: #fff;
        border-radius: 10px;
    }
}